h1 {
    font-family: sans-serif;
    font-size: 90px;
    text-align: center;
    color: brown;
  }

body {
    margin: auto;
    width: 640px; 
    padding: 370px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;    
  }