{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is it the weekend yet ?</title>
    <link rel="stylesheet" href="{% static 'weekend/style.css' %}">
</head>
<body>
    <h1>Is the weekend yet ?</h1>
    {% if weekend < 5 %}
        <p>NO, we're still on {{ name }}</p>
    {% else %}
        <p>YES, its {{ name }}</p>
    {% endif %}
</body>
</html>